#* @implicitly included *#
#* @vtlvariable name="WebPath" type="SAYAV2.SAYAV2.Utils.PathUtil.Web" *#
#* @vtlvariable name="msg" type="SAYAV2.SAYAV2.Utils.MessageBundle" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="user" type="SAYAV2.SAYAV2.model.Usuario" *#

#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
#* @vtlvariable name="menuRedirect" type="java.lang.String" *#

#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="updateFailed" type="java.lang.String" *#
#* @vtlvariable name="updateSucceeded" type="java.lang.String" *#

#* @vtlvariable name="wrongPassword" type="java.lang.String" *#
#* @vtlvariable name="wrongEmail" type="java.lang.String" *#
#* @vtlvariable name="registrationFailed" type="java.lang.String" *#
#* @vtlvariable name="registrationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="existingUser" type="java.lang.String" *
#* @vtlvariable name="prueba" type="SAYAV2.SAYAV2.model.Prueba" *#
#* @vtlvariable name="enableAlarm" type="java.lang.String" *#
#* @vtlvariable name="disableAlarm" type="java.lang.String" *#
#* @vtlvariable name="updateUser" type="java.lang.String" *#
#* @vtlvariable name="viewUser" type="java.lang.String" *#





