#parse("/velocity/layout.vm") 
#@mainLayout() 
  <h1>$msg.get("LIST_MESSAGE_HEADING")</h1> 
   

 
 
    #if($mostrarNotificacion) 
    <div class="infoAlert">   
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>Prueba 
     </div> 
  #end 

 
         
  <table> 
   
      <tr> 
        <th align="center">Origen</th> 
        <th align="center">Destino</th> 
        <th align="center">Estado</th> 
        <th align="center">Tipo</th>        
       	<th align="center">Detalle</th> 
       	
       	##<th align="center">Eliminar</th> 
         
       
      #foreach($!m in $!mensajesPendientes.getMensaje())
         
      <tr> 
            <td> $!m.getOrigen()</td> 
            <td> $!m.getDestino()</td> 
            <td> $!m.getEstado()</td> 
            <td> $!m.getTipoMensaje().getTipo()</td>
	       	<td> <button onclick="document.getElementById($foreach.count).style.display='block'"
			class="w3-button">Ver</button></td>	 
			
			  <!-- Modal donde se muestra el detalle del mensaje -->
		<div id=$foreach.count class="w3-modal">
  			<div class="w3-modal-content w3-animate-top">

    			<header class="w3-container w3-teal"> 
      				<span onclick="document.getElementById($foreach.count).style.display='none'" 
      				class="w3-button w3-display-topright">&times;</span>
      				<h2>Detalle</h2>
				</header>

    			<div class="w3-container">
			 		<p>Creacion: $!m.imprimirFechaCreacion()</p>
			 		<p>Reenvio: $!m.imprimirFechaReenvio()</p>
    				#foreach($!s1 in $!m.getDescripcion().split(":"))
    					<p>$!s1</p>
					 #end 
    				
    				 #foreach($!s2 in $!m.getDetalle().split(":"))
    					<p>$!s2</p>
				 	#end 
    			</div>

    		</div>
		</div>	
  	             
      ##      <td> 
      ##    		<form id="tabla"> 
      ##     		<input id = "myBtn" type="button" value="Ver" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">                    
      ##     		</form> 
      ##     </td> 
             
             
      ##      #if($m.getEstado().equals("Confirmado"))       
      ##      <td> 
      ##    		<form id="tabla" method="post" action="$WebPath.getEliminar()$m.getId()/"> 
      ##     			<input type="submit" value="Eliminar" >                    
      ##     		</form> 
      ##     	</td> 
      ##      #else 
      ##      <td> 
      ##    		<form id="tabla" method="post" action="$WebPath.getEliminar()$m.getId()/"> 
      ##     			<input type="submit" value="Eliminar" disabled >                    
      ##     		</form> 
      ##     	</td> 
      ##    #end 
      </tr> 
      #end 
       
    </table>     
       
<script>

</script>

#end 