#parse("/velocity/layout.vm") 
#@mainLayout() 
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <h1>$msg.get("LIST_MESSAGE_HEADING")</h1> 
   
<head> 
<style> 
div { 
    text-align: center; 
    border-radius: 5px; 
    background-color: #f2f2f2; 
    padding: 12px; 
} 
table { 
    margin: auto; 
    font-family: arial, sans-serif; 
    border-collapse: collapse; 
    width: 80%; 
} 
 
td, th { 
    border: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
} 
 
tr:nth-child(even) { 
    background-color: #dddddd; 
} 
</style> 
</head> 
<body> 
 
 
 
    #if($mostrarNotificacion) 
    <div class="infoAlert">   
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>Prueba 
     </div> 
  #end 

 
         
  <table> 
   
      <tr> 
        <th align="center">Origen</th> 
        <th align="center">Destino</th> 
        <th align="center">Estado</th> 
        <th align="center">Creacion</th> 
        <th align="center">Reenvio</th>   
      	<th align="center">Descripcion</th> 
       	<th align="center">Eliminar</th> 
         
       
      #foreach($!m in $!mensajesPendientes.getMensaje())
         
      <tr> 
            <td> $!m.getOrigen()</td> 
            <td> $!m.getDestino()</td> 
            <td> $!m.getEstado()</td> 
            <td> $!m.imprimirFechaCreacion()</td> 
            <td> $!m.imprimirFechaReenvio()</td> 
             
            <td> 
          		<form id="tabla"> 
           		<input id = "myBtn" type="button" value="Ver" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">                    
           		</form> 
           </td> 
             
             
            #if($m.getEstado().equals("Confirmado"))       
            <td> 
          <form id="tabla" method="post" action="$WebPath.getEliminar()$m.getId()/"> 
           <input type="submit" value="Eliminar" >                    
           </form> 
           </td> 
            #else 
            <td> 
          <form id="tabla" method="post" action="$WebPath.getEliminar()$m.getId()/"> 
           <input type="submit" value="Eliminar" disabled >                    
           </form> 
           </td> 
            #end 
      </tr> 
      #end 
       
    </table>     
       
<script>

</script>

#end 