#parse("resources/velocity/layout.vm")


#@mainLayout()

#*
  En este archivo hire haciendo pruebas para probar y aprender las distintas 
  funcionalidades de Velocity Engine.
*#

 <h1>Notificando</h1>



#end