#parse("/velocity/layout.vm")
#parse("/velocityconfig/velocity_implicit.vm")

#@mainLayout()

#*
  En este archivo hire haciendo pruebas para probar y aprender las distintas 
  funcionalidades de Velocity Engine.
*#

 <h1>$prueba.getTitulo()</h1>

 <h2> $prueba.getSubtitulo() </h2>





#end