#parse("/velocity/layout.vm")
#@mainLayout()


	<h1>Notificaciones</h1>
		
	<table style="width:100%">
  		<tr>
    		<th>Descripcion</th>
    		<th>Fecha</th>
  		</tr>
  		#foreach($!n in $!notificaciones.getNotificacion())
  		<tr>
            <td> $!n.getDescripcion()</td>
   		 	<td> $!n.getFecha()</td>
  		</tr>
    	#end
	</table>
#end