#parse("/velocity/layout.vm")
#@mainLayout()


	<h1>Notificaciones</h1>
	
##	#if($mostrarNotificacion)
##		<div class="infoAlert">	
##  	 		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>$descripcion
## 		</div>
##	#end
		
	<table style="width:100%">
  		<tr>	
    		<th>Fecha</th>
    		<th>Descripcion</th>
  		</tr>
  		#foreach($!n in $!notificaciones.getNotificacion())
  		<tr>
  			<td> $!n.imprimirFecha()</td>
            <td> $!n.getDescripcion()</td>
   		 	
  		</tr>
    	#end
	</table>
#end