#parse("/velocity/layout.vm")
#@mainLayout()
	<div align="right">
		<form id = "tabla_actualizar" action="$WebPath.getVerVotaciones()" method="get">
			<input type="submit" value="Actualizar" >
  		</form>
	</div>
	<h2>Votaciones Pendientes</h2>
	
	
	 <table >	
  		<tr>
    		<th align="center">Miembro</th>
    		<th align="center">Grupo</th>
  		</tr>
  		
  		#foreach($!v in $!votaciones.getVotaciones())
  		<tr>
   		 	<td>$!v.getMiembro().getDireccion()</td>   			
 		 	<td>$!user.getSingleGrupoById($!s.getGrupoId()).getNombre()</td>   			
   		 	  			
			<td>
   			
          		
          		<form method="post" action="$WebPath.getVerVotaciones()aceptar/$!v.getId()/">
                 	   <button class="w3-button">Aceptar</button>
                </form>
   	     	</td> 
   	     	<td>
   	     		<form method="post" action="$WebPath.getVerVotaciones()rechazar/$!v.getId()/">
                 	   <button class="w3-button">Rechazar</button>
                </form>

   	     	</td>       	
       	</tr>       
		#end			 		
		</table>
		
		<h2>Solicitudes de Baja Pendientes</h2>
	
	 <table >	
  		<tr>
    		<th align="center">Miembro</th>
    		<th align="center">Grupo</th>
    		<th align="center">Votos a Favor</th>
    		<th align="center">Votos en Contra</th>
    	##	<th align="center">Votos Totales</th>	
  		</tr>
  		
  		#foreach($!s in $!solicitudes.getVotaciones())
  		<tr>
   		 	<td>$!s.getMiembro().getDireccion()</td>   			
 		 	<td>$!user.getSingleGrupoById($!s.getGrupoId()).getNombre()</td>   			
  		 	<td align="right">$!s.getVotantesAFavor()</td>   			
  		 	<td align="right">$!s.getVotantesEnContra()</td>   			
  		## 	<td>$!s.getPorcentajeVotantes()</td>   			
   				       	
       	</tr>       
		#end			 		
		</table>
#end