#parse("/velocity/layout.vm")
#@mainLayout()

		
	<form id="newGroupForm" onsubmit="return validateForm()" method="post" action="$WebPath.getNewGroup()">
  
  		#if($existingGroup)
        	<p class="bad notification">$msg.get("EXISTING_GROUP")</p>
    	#elseif($addGroupSucceeded)   
       		<p class="good notification">$msg.get("NEW_GROUP_SUCCEEDED")</p>
    	#end
    	#if($leaveGroupSucceeded)
       		<p class="good notification">Se pudo abandonar el grupo</p> 	
    	#elseif($leaveGroupFailed)
    	       <p class="bad notification"> No se pudo abandonar el Grupo</p>
    	#end
    	
   		<h1>$msg.get("NEW_GROUP_HEADING")</h1>
    
    	<label>$msg.get("GROUP_LABEL_NAME")</label><br>
    	<input type="text" name="groupName" placeholder="$msg.get("GROUP_LABEL_NAME")" value="" required><br>
   
    	<input type="submit" value="$msg.get("NEW_GROUP")">
	</form>    
	
	<table >	
  		<tr>
    		<th  align="center"> Nombre</th>	
    		<th align="center">Ver Miembros</th>
    	## TODO
    		<th align="center">Abandonar Grupo</th>
    		
  		</tr>
  		#foreach($g in $user.getGrupos())
  		<tr>
   		 	<td>$g.getNombre()</td>
   			
			<td>
   				<form method="get" action="$WebPath.getViewMembers()$g.getNombre()/">
        	    	<button id="viewMembers">Ver Miembros</button>
           		</form>  
           	</td> 
	 		<td>
   			<form method="get" action="$WebPath.getLeave()$g.getNombre()/">
        	   <button id="leave Group">Abandonar Grupo</button>
           	</form>  
           </td> 
           	
       	</tr>       
		#end			
  		
	</table>
	<script>
	function validateForm() {
		var y = "false";
    	var x = document.forms["newGroupForm"]["groupName"].value;
    	if (x == null || x == "") {
    		y = "true";
        	alert("$msg.get("NEW_GROUP_ALERT_NAME")");	
    	}    
    	if(y == "true"){
    		return false;
		}
	}
</script>
#end