#parse("/velocity/layout.vm")
#@mainLayout()


	#if($existingGroupRename)
       	<p class="bad notification">Existen grupos que han sido creados por miembros de sus grupos que debieron ser renombrados (Rename)
       	por tener igual nombre a alguno de sus grupos</p>
       	<p class="bad notification">CONSEJO: Pongase en contacto con el miembro que creo el crupo para evitar inconsistencia</p>
    #end

	<h1>$msg.get("LIST_GROUP_HEADING")</h1>
	
	<table style="width:100%">
  		<tr>
    		<th>Nombre</th>
    		
  		</tr>
  		#foreach($group in $user.getGroup())
  		<tr>
   		 	<td>$group.getNombre()</td>   		
  		</tr>
       
    	#end
  		
	</table>
#end