#parse("/velocity/layout.vm")
#@mainLayout()


	##<h1>$msg.get("LIST_GROUP_HEADING")</h1>
	
	<table style="width:100%">
  		<tr>
    		<th>Mensaje</th>
    		<th><button id="reenviarTodo">Reenviar Todo</button></th>		
  		</tr>
  		#foreach($mensaje in $listaMensajes)
  		<tr>
   		 	<td> $mensaje.getDatos()</td>
            	<td><button id="reenviar">Reenviar</button></td>
  		</tr>
    	#end
	</table>
#end