#parse("/velocity/layout.vm")
#@mainLayout()
	<h1>Grupo "$!group.getNombre()"</h1>
	
	<form id="newGroupMemberForm" onsubmit="return validateForm()" method="post" action="$WebPath.getNewGroup()$groupName/"> 
  		#if($existingMember)
        	<p class="bad notification">$msg.get("EXISTING_PEER")</p>
    	#elseif($addMemberSucceeded)   
       		<p class="good notification">$msg.get("NEW_PEER_SUCCEEDED")</p>
    	#end
   		<h2>$msg.get("NEW_GROUP_MEMBER_HEADING")</h2>
    
    	<label>$msg.get("MEMBER_LABEL_DOMAIN")</label><br>
    	<input type="text" name="memberDomain" placeholder="Ej: username.ddns.net:20339 (Por favor no olvide de ingresar el puerto)" value="" required><br>
   
    	<input type="submit" value="$msg.get("NEW_GROUP_MEMBER")">
	</form>  
	
	<script>
	function validateForm() {
		var y = "false";
    	var x = document.forms["newGroupMemberForm"]["memberDomain"].value;
    	if (x == null || x == "") {
    		y = "true";
        	alert("$msg.get("NEW_GROUP_MEMBER_ALERT_DOMAIN")");	
    	}    
    	if(y == "true"){
    		return false;
		}
	}
	</script>  
 	#if($!group.getPeers().isEmpty())
   		<p class="notification">$!group.getNombre() no contiene miembros</p>
   	#else	 
	<table >
  		<tr>
    		<th  align="center">Miembros</th>	    		
  		</tr>
  		
  		#foreach($peer in $group.getPeers())
			<tr><td>$!peer.getDireccion()</td></tr>
 		#end   		      
							
	</table>
	#end 
#end	