#parse("/velocity/layout.vm")
#@mainLayout()


	<h1>$msg.get("LIST_MESSAGE_HEADING")</h1>
	
	<table style="width:100%">
  		<tr>
    		<th>Destino</th>
    		<th>Fecha</th>
    		<th><button id="reenviarTodo">Reenviar Todo</button></th>		
  		</tr>
  		#foreach($mensaje in $listaMensajes)
  		<tr>
   		 	<td> $!mensaje.getPeer()</td>
   		 	<td> $!mensaje.getFecha()</td>
            	<td><button id="reenviar">Reenviar</button></td>
  		</tr>
    	#end
	</table>
#end